*{
  font-family: sans-serif;
}

body {
  margin: 0;
}

.videos {
  background-color: rgba(216, 210, 210, 0.334);
}

.v-sec {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));  /*don't know to read from mdn*/
  gap: 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
}

.v-con {
  display: flex;
  flex-direction: column;
  transition: 200ms;
}

.v-con:hover {
  filter: drop-shadow(0 0 1rem  rgb(72, 71, 71));
}

.tumb {
  position: relative;
  display: flex;
}

.tumb::before {
  content: attr(time);
  position: absolute;
  background-color: rgba(0, 0, 0, .85);
  color: white;
  right: 5px;
  bottom: 5px;
  padding: .1em .3em;
  border-radius: .3em;
  font-size: .9rem;
}

.thumb-img {
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 200px;
  border-radius: 15px;
  transition: 250ms;
}
  
/* area for tumb-image to border radius 0 on hover */
.thumb-img:hover {
  border-radius: 0;

}


.v-bottom {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.c-icon {
  margin-right: .75rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.v-detail {
  display: flex;
  flex-direction: column;
}

.v-name {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: .5rem;
  text-decoration: none;
  color: black;
}

.c-name {
  margin-bottom: .1rem;
  text-decoration: none;
  transition: color 150ms;
}
.c-name, .v-data {
  color: #555;
}

.c-name:hover {
  color: #111;
}
 
footer{
  margin-bottom: 250px;
}
/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1rem 1rem;
  height: 20px;
  margin: 0.7rem 0 0.3rem ;
  
}

.youtube-logo {
  height: 27px;
}

.search {
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  margin: 0 2rem 0 4rem;
  filter: opacity(75%);
}

.s-input {
  width: 100%;
  font-size: 1.1rem;
  padding: .4em;
  border: 1px solid #636363;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right: none;
}
/* dsfgbsajdkfgybvjlhksacgbvjklhasfdfgbvljhksadfgbvljaskfcgbvfsakjhdgvbkjhscbgvjhkasdgbfvjlhsadfghjwds */
@media (max-width: 580px){ 
 
  .s-input {
     display: none; 


    }
  .s-btn {
    display: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;


  }
  .m-btn {
    padding: .34rem
  }
  .search {
    justify-content: end;

  }


}

/* dsfgbsajdkfgybvjlhksacgbvjklhasfdfgbvljhksadfgbvljaskfcgbvfsadsfgbsajdkfgybvjlhksacgbvjklhasfdfgbvljhksadfgbvljaskfcgbvfsadsfgbsajdkfgybvjlhksacgbvjklhasfdfgbvljhksadfgbvljaskfcgbvfsadsfgbsajdkfgybvjlhksacgbvjklhasfdfgbvljhksadfgbvljaskfcgbvfsadsfgbsajdkfgybvjlhksacgbvjklhasfdfgbvljhksadfgbvljaskfcgbvfsadsfgbsajdkfgybvjlhksacgbvjklhasfdfgbvljhksadfgbvljaskfcgbvfsadsfgbsajdkfgybvjlhksacgbvjklhasfdfgbvljhksadfgbvljaskfcgbvfsadsfgbsajdkfgybvjlhksacgbvjklhasfdfgbvljhksadfgbvljaskfcgbvfsadsfgbsajdkfgybvjlhksacgbvjklhasfdfgbvljhksadfgbvljaskfcgbvfsa */

.s-btn {
  display: flex;
  align-items: center;
  border: 1px solid #636363;
  background-color: #8d8d8d29;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  transition: 200ms;
}

.s-btn:hover, .m-btn:hover {
  background-color: #8a858570;
}

.m-btn {
  display: flex;
  align-items: center;
  border: 1px solid #9999997b;
  background-color: #8d8d8d29;
  border-radius: 50%;
  cursor: pointer;
  transition: 200ms;
  margin-left: 5px;
  
}

.side-icon {
  display: grid;
  grid-template-columns: repeat(3, auto);/*dont know to read from mdn*/
  align-items: center;
  gap: 1.5rem;
  
}

.notification, .upload {
  filter: opacity(65%);

}

.account {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.notification::before {
  content: '9+';
  position: absolute;
  background-color: rgb(255, 0, 0);
  color: white;
  margin-left: 13px  ;
  padding:.1em.3em;
  border-radius:50px;
  font-size:12px;
  font-family: inherit;
}

/* navigation */


.nav {
  padding: 10px 1px;
  border-bottom: 1px solid #99999971;
}

.bar {
  display: flex;
  overflow: hidden;
}

.bar-e {
  margin-right: 1rem;
  white-space: nowrap;
  border: 1px solid #ccccccc0;
  border-radius: 10px;
  background-color: #e7e7e77e;
  padding: .4rem 1rem;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 250ms;
}

.bar-e:hover {
  background-color: #DDD;
  border: 1px solid #250606;
  background-color: #726c6c36;
}

.bar-all{
  background-color: #000000;
  color: white;
  margin-right: 1rem;
  border-radius: 10px;
  padding: .4rem 1rem;
  border: 1px solid #250606;
  margin-left: 1rem;
  
}

